  <div class="menu">
    <div class="menu__toggle js-menu-toggle">
      <div class="menu__toggle__icon"><span></span></div>
    </div>

    <div class="menu__wrap">
      <ul class="menu__list">

        <li class="menu__list__item">
          <a href="/" class="menu__list__item__link cc-active active-link">Home</a>
        </li>

        <li class="menu__list__item">
          <a href="/about" class="menu__list__item__link">About</a>
        </li>

        <li class="menu__list__item">
          <a href="/tags" class="menu__list__item__link">Tags</a>
        </li>

        <li class="menu__list__item">
          <a href="/archive/" class="menu__list__item__link">Archive</a>
        </li>

      </ul>
    </div>
  </div>
