<!DOCTYPE html>
<html class="no-js class='no-js fontawesome-i2svg-active fontawesome-i2svg-complete'" lang="en">
  {% include html-header.html %}

  <body class="loading ajax-loading" data-page-url="{{ page.url }}">
    {% include header.html %}
    {% include loader.html %}

    <div class="page">
      <div class="page__content" data-page-title="{{ page.title }}">
        {{ content }}

        <!-- footer contains dynamic link, has to be inside page__content -->
        {% include footer.html %}
      </div>
    </div>

    <!-- Javascript Assets -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/plugins-min.js"></script>
    <script src="/js/theme-min.js"></script>
    <!-- Extra Footer JS Code -->
  </body>
</html>
